<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <!--<connectionStrings>
    <add name="PointOfSale" connectionString="Data Source=AHSAN\ADMIN;Initial Catalog=PointOfSale;Persist Security Info=True;User ID=sa;Password=321"
      providerName="System.Data.SqlClient" />
    <add name="PointOfSaleW.Properties.Settings.PointOfSaleConnectionString"
      connectionString="Data Source=.;Initial Catalog=PointOfSale;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PointOfSaleW.Properties.Settings.PointOfSaleConnectionString1"
      connectionString="Data Source=AHSAN\ADMIN;Initial Catalog=PointOfSale;User ID=sa;Password=321"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="PointOfSale" connectionString="Data Source=DESKTOP-QAGLESV\SQLEXPRESS;Initial Catalog=PointOfSale;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PointOfSaleW.Properties.Settings.PointOfSaleConnectionString"
      connectionString="Data Source=.;Initial Catalog=PointOfSale;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PointOfSaleW.Properties.Settings.PointOfSaleConnectionString1"
      connectionString="Data Source=DESKTOP-QAGLESV\SQLEXPRESS;Initial Catalog=PointOfSale;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>